.component-container {
    overflow-x: hidden;
}

.md-news-section-cards-container {
    transition: 0.3s cubic-bezier(.19,.01,.28,.9);
}

.pan-right {
    transform: translate(-100%, 0px);
}

.md-news-section-card {
    width: 190%;
    padding: 12px;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    position: relative;
}

.card-left-part {
    width: 46%;
    margin-left: 1%;
    margin-right: 3%;
}

.card-right-part {
    width: 48%;
    margin-left: 2%;
}

.news-section-context {
    font-size: 0.75rem;
    line-height: 1.15rem;
    letter-spacing: 1px;
}

.reference-item-container {
    margin: 10px 0px 10px 0px;
    border-left-style: solid;    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: solid 2px #C4C4C4;
}

.reference-item-type {
    padding-left: 8px;
    padding-bottom: 5px;
    line-height: 0.8;
}

.reference-item-context {
    padding-left: 8px;
}

.nav-container{
    width: auto;
}

.card-r    {
    box-shadow: 0px 5px 8px -1px #FF90902d;
    border-bottom: solid #ff9090 5px;
}.card-b    {
    box-shadow: 0px 5px 8px -1px #90BDFF2d;
    border-bottom: solid #90BDFF 5px;
}.card-o    {
    box-shadow: 0px 5px 8px -1px #FFA9022d;
    border-bottom: solid #FFA902 5px;
}.card-p    {
    box-shadow: 0px 5px 8px -1px #F090FF2d;
    border-bottom: solid #F090FF 5px;
}.card-g    {
    box-shadow: 0px 5px 8px -1px #9EDF872d;
    border-bottom: solid #9EDF87 5px;
}

.news-context {
    font-size: 0.75rem;
    line-height: 1.15rem;
}