/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bootstrap/dist/css/bootstrap-grid.css';
@import './../node_modules/@clr/icons/clr-icons.min.css';
@import './../node_modules/@clr/ui/clr-ui.min.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,500,900&display=swap');


// Global Attribute

div {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 300;
}

.text-s {
    
    margin: -5px 0px 0px 0px;
    font-size: 9pt;
}

.text-highlight {
    font-size: 18pt;
    font-weight: 500 !important;
}

p {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 300 !important;
    margin: 0px !important;
}